<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        *{
            padding:0px;
            margin: 0px;
        }

        th{
            padding: 5px;
        }

        .bg{
            background-color: rgba(255,255,255,0.95);
            border-radius: 10px;
        }
        body{
            background-color: black !important;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container bg">
    <h1 class="text-center">Chord Peer Info</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Key lookup</h2>
            <h4>Key Search</h4>
            <form action="#" th:action="@{/info}" th:object="${integerObject}"  method="post">
                <p>Key: <input type="text" th:field="*{key}" /><input type="submit" value="Lookup"/></p>
            </form>
            <h4>Lookup Info</h4>
            <ul class="list-group">
                <li class="list-group-item"><span th:text=" 'ID: ' + ${curLookupID}"></span></li>
                <li class="list-group-item"><span th:text="'keyLocation ' + ${curLookupKey}"></span></li>
                <li class="list-group-item"><span th:text="'hops: ' + ${hops}"></span></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 th:text="'Peer ID: ' + ${PeerId}"></h2>
            <table class="table">
                <tr>
                    <th><span th:text="${Predeccessor}"></span> </th>
                    <th><span> Leave </span> </th>
                    <th><span th:text="${Successor}"></span> </th>
                </tr>
                <tr>
                    <th><a th:href="'http://' + ${Predeccessor} + '/info'">Predeccessor</a></th>
                    <th><a th:href="'http://' + ${LocalAddress} + '/leave'" onclick="alert('This peer has shut down!')">Leave</a></th>
                    <th><a th:href="'http://' + ${Successor} + '/info'">Successor</a></th>
                </tr>
            </table>
        </div>

        <div class="col-md-4">
            <h2>Photon info</h2>
            <p th:text="'conncted: ' + ${photonConnected}"> </p>
            <table class="table">
                <tr>
                    <th><span>id</span></th>
                    <th><span>data</span></th>
                </tr>
                <tr th:each="data : ${photonData}">
                    <th><span th:text="${data.photonID}"></span></th>
                    <th><span th:text="${data.lightValue}"></span></th>
                </tr>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>SuccessorList</h2>
            <table class="table">
                <tr>
                    <th><span>SuccessorID</span></th>
                    <th><span>SuccessorAddress</span></th>
                    <th><span>Link</span></th>
                </tr>
                <tr th:each="successor : ${successorList}">
                    <th><span th:text="${successor.id}"></span></th>
                    <th><span th:text="${successor.address}"></span></th>
                    <th><a th:href="'http://' + ${successor.address} + '/info'">Link</a></th>
                </tr>
            </table>
        </div>


        <div class="col-md-6">
            <h2>FingerTable</h2>
            <table class="table">
                <tr>
                    <th><span>Lowerbound - Upperbound</span></th>
                    <th><span>SuccessorID</span></th>
                    <th><span>SuccessorAddress</span></th>
                    <th><span>Link</span></th>
                </tr>
                <tr th:each="finger : ${fingerList}">
                    <th><span th:text="${finger.lowerbound} + ' - ' + ${finger.upperbound}"></span></th>
                    <th><span th:text="${finger.id}"></span></th>
                    <th><span th:text="${finger.address}"></span></th>
                    <th><a th:href="'http://' +  ${finger.address}  + '/info'">Link</a></th>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>